include AUTHORS.rst
include CONTRIBUTING.rst
include HISTORY.rst
include LICENSE 
include README.rst 
recursive-include docs *.rst *.py *.png Makefile
recursive-include docs/_theme *
recursive-include test/*

exclude .settings/* 
exclude .pydevproject 
exclude .cproject 
exclude .project 
exclude camb/*
